@mixin flexColumn750 {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
}

@mixin screen-large {
  @media screen and (max-width: 62em) {
    @content;
  }
}

@mixin screen-medium {
  @media screen and (max-width: 48em) {
    @content;
  }
}