$color-primary-dark-1: #9206e9;
$color-primary-light-1: #b600ee;
$color-neutral-light-1: #ffffff;
$color-neutral-light-2: #f6f6f6;
$color-neutral-light-3: #bbc4ce;
$color-neutral-light-4: #b7b7b7;
$color-neutral-dark-1: #20272c;
$color-neutral-dark-2: #424e59;
$color-neutral-dark-3: #75818c;